# Default ignored files
/shelf/
/.idea/
/resources/
/target/
/jiraclone-spring.iml
/pom.xml
/lib/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
